.newsletter-container {
    background-color: #f8f8f8;
    padding: 40px;
    text-align: center;
  }
  
  .newsletter-container h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .newsletter-container p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .subscribe-form input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .subscribe-form button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .newsletter-icon {
    font-size: 48px;
    color: black;
  }
  
  /* Responsive Styling */
  @media screen and (max-width: 768px) {
    .newsletter-container {
      padding: 20px;
    }
  
    .subscribe-form {
      flex-direction: column;
    }
  
    .subscribe-form input {
      margin-bottom: 10px;
      max-width: 100%;
      border-radius: 5px;
    }
  
    .newsletter-icon {
      font-size: 32px;
    }
  }
  